---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Frequently asked questions" description="Frequently asked questions">

  <section class="p-4 sm:p-16 lg:p-24">
    <div class="max-w-4xl mx-auto text-center">
      <h1 class="text-4xl sm:text-5xl lg:text-6xl tracking-tight font-bold capitalize">Frequently asked questions</h1>

      <div class="max-w-xl mx-auto text-center">
        <p class="mt-6 text-sm font-medium text-gray-500">Wade is the #1 rated Web Design Company in Nairobi Kenya. We’re made up of a team of web designers, graphic designers, SEO consultants and online marketing experts.</p>
      </div>

      <div class="mt-6 sm:items-center sm:justify-center sm:flex">
        <a href="https://api.whatsapp.com/send?phone=254722593572&text=Hello!%20Wade%20-%20Best%20web%20design%20company%20in%20Nairobi%20Kenya?%20I'd%20like%20to%20get%20a%20free%20quotation%20on%20a%20new%20website%20project.%20Please%20get%20back%20for%20more%20info." class="block px-12 py-3 font-medium text-black bg-yellow-200 rounded-lg shadow-xl hover:bg-yellow-300">Get Quote</a>

        <a href="tel:+254722593572" class="block px-12 py-3 mt-4 font-medium text-black rounded-lg hover:underline sm:mt-0">+254 722 593572</a>
      </div>
    </div>
  </section>

<div class="space-y-4 max-w-4xl mx-auto px-4 py-16">
  <details class="group" open>
    <summary
      class="flex items-center justify-between p-4 rounded-lg cursor-pointer bg-gray-50"
    >
      <h5 class="font-medium text-gray-900">
        How much does a website cost?
      </h5>

      <svg
        class="flex-shrink-0 ml-1.5 w-5 h-5 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="px-4 mt-4 leading-relaxed text-gray-700">
      Each project is priced differently based on number of pages, integrations and timeline. To get a bid, we like to hold a strategy call with you to talk about your needs and goals! This is a no-pressure call to get an accurate bid for your project!
    </p>
  </details>

  <details class="group">
    <summary
      class="flex items-center justify-between p-4 rounded-lg cursor-pointer bg-gray-50"
    >
      <h5 class="font-medium text-gray-900">
        What if I don't like the website you build?
      </h5>

      <svg
        class="flex-shrink-0 ml-1.5 w-5 h-5 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="px-4 mt-4 leading-relaxed text-gray-700">
      Don't worry, we won't deliver a website that you don't absolutely love. This is why we hold several revisions throughout the design and development process to make sure we are right on track with what your business needs!
    </p>
  </details>

  <details class="group">
    <summary
      class="flex items-center justify-between p-4 rounded-lg cursor-pointer bg-gray-50"
    >
      <h5 class="font-medium text-gray-900">
        How do I know you will do a good job?
      </h5>

      <svg
        class="flex-shrink-0 ml-1.5 w-5 h-5 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="px-4 mt-4 leading-relaxed text-gray-700">
      Not to worry, we have developed over 100+ sites and we have seen it all. We have built some extremely complex CMS setups, worked with countless third-party plugins, built rad custom solutions, and been trusted by some huge companies all over the country.
    </p>
  </details>
</div>
</BaseLayout>