---
import BaseLayout from '../layouts/BaseLayout.astro';
const {title} = Astro.props;
const {description} = Astro.props;
---

<BaseLayout title="Best Web Design Company Nairobi Kenya (Give us a Call Today)" description="Best Web Design Company Nairobi Kenya is an agency specializing in creating websites and SEO.">
	<section class="p-4 sm:p-16 lg:p-24">
		<div class="max-w-4xl mx-auto text-center">
			<h1 class="text-4xl sm:text-5xl lg:text-6xl tracking-tight font-bold capitalize">Best Website Design Company In Nairobi Kenya</h1>

			<div class="max-w-xl mx-auto text-center">
				<p class="mt-6 text-sm font-medium text-gray-500">Wade is the #1 rated Web Design Company in Nairobi Kenya. We’re made up of a team of web designers, graphic designers, SEO consultants and online marketing experts.</p>
			</div>

			<div class="mt-6 sm:items-center sm:justify-center sm:flex">
				<a href="https://api.whatsapp.com/send?phone=254722593572&text=Hello!%20Wade%20-%20Best%20web%20design%20company%20in%20Nairobi%20Kenya?%20I'd%20like%20to%20get%20a%20free%20quotation%20on%20a%20new%20website%20project.%20Please%20get%20back%20for%20more%20info." class="block px-12 py-3 font-medium text-black bg-yellow-200 rounded-lg shadow-xl hover:bg-yellow-300">Get Quote</a>

				<a href="tel:+254722593572" class="block px-12 py-3 mt-4 font-medium text-black rounded-lg hover:underline sm:mt-0">+254 722 593572</a>
			</div>
		</div>
	</section>

	<section class="text-black bg-yellow-200">
		<div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
			<h2 class="sr-only">Statistics never lie</h2>

			<ul class="border-2 border-black border-opacity-25 divide-y-2 divide-black sm:grid sm:divide-y-0 sm:divide-x-2 sm:border-l-0 sm:border-r-0 divide-opacity-25 sm:grid-cols-3 text-center">
				<li class="p-8">
					<p class="text-3xl font-extrabold text-black">300+</p>
					<p class="mt-1 text-xl font-medium uppercase">Websites live</p>
				</li>

				<li class="p-8">
					<p class="text-3xl font-extrabold text-black">7+</p>
					<p class="mt-1 text-xl font-medium uppercase">YEARS IN OPERATION</p>
				</li>

				<li class="p-8">
					<p class="text-3xl font-extrabold text-black">100%</p>
					<p class="mt-1 text-xl font-medium uppercase">CUSTOMER RETENTION</p>
				</li>
			</ul>
		</div>
	</section>

	<section class="bg-black text-white">
		<div class="max-w-screen-xl mx-auto px-4 py-16 sm:px-6 lg:px-8">
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-y-8 lg:gap-x-16 lg:items-center">
				<div class="max-w-lg mx-auto text-center lg:text-left lg:mx-0">
					<h2 class="text-3xl font-bold sm:text-4xl text-yellow-200">Why choose us?</h2>

					<p class="mt-4">We create websites with purpose. We aim to create the best digital products while keeping things simple, and as a result we're recognised as one of the top web design and development companies in Nairobi Kenya.</p>
				</div>

				<div class="grid grid-cols-2 gap-4 text-center">
					<div class="block p-4 border border-gray-100 shadow-sm rounded-xl focus:outline-none focus:ring hover:border-gray-200 hover:ring-1 hover:ring-gray-100">
						<span class="inline-block p-3 rounded-lg bg-yellow-200">
							<svg class="h-6 w-6"  viewBox="0 0 486.043 486.043" stroke="black" stroke-width="2">
								<path d="M390.015,146.936C389.91,65.894,323.946,0,242.88,0C161.748,0,95.743,66.005,95.743,147.136c0,2.347,1.903,4.25,4.25,4.25
								c2.347,0,4.25-1.903,4.25-4.25C104.243,70.692,166.435,8.5,242.88,8.5c57.438,0,106.827,35.113,127.836,85h-25.931
								c-2.347,0-4.25,1.903-4.25,4.25c0,2.347,1.903,4.25,4.25,4.25h29.181c2.61,7.561,4.586,15.415,5.858,23.5h-20.039
								c-2.347,0-4.25,1.903-4.25,4.25c0,2.347,1.903,4.25,4.25,4.25h21.104c0.409,4.326,0.626,8.705,0.626,13.136
								c0,0.139,0.007,0.283,0.021,0.421c0.021,0.21,1.978,21.325-5.613,51.491c-6.993,27.79-23.765,69.198-63.957,108.65
								c-16.901,16.59-28.809,32.901-37.203,47.503h-24.816c-2.347,0-4.25,1.903-4.25,4.25c0,2.347,1.903,4.25,4.25,4.25h20.212
								c-13.469,26.48-15.165,45.668-15.301,47.539c-4.472,43.374-28.377,66.303-69.133,66.303c-35.468,0-60.372-25.12-66.618-67.196
								c-0.345-2.322-2.504-3.923-4.828-3.58c-2.322,0.345-3.925,2.506-3.58,4.828c6.817,45.921,35.566,74.448,75.026,74.448
								c21.554,0,39.132-5.868,52.245-17.441c14.264-12.588,22.794-31.619,25.352-56.563c0.005-0.05,0.009-0.101,0.013-0.151
								c0.032-0.477,3.765-48.238,54.587-98.124c41.742-40.974,59.119-84.088,66.346-113.042
								C391.798,170.551,390.241,149.465,390.015,146.936z"/>
								<path d="M242.88,28.339c-65.505,0-118.797,53.292-118.797,118.797c0,2.347,1.903,4.25,4.25,4.25s4.25-1.903,4.25-4.25
								c0-60.818,49.479-110.297,110.297-110.297c2.347,0,4.25-1.903,4.25-4.25C247.13,30.242,245.227,28.339,242.88,28.339z"/>
								<path d="M229.847,411.172c-2.888,28.16-17.732,42.438-44.122,42.438c-2.347,0-4.25,1.903-4.25,4.25c0,2.347,1.903,4.25,4.25,4.25
								c30.594,0,49.267-17.782,52.578-50.07c0.239-2.335-1.46-4.422-3.794-4.662C232.171,407.139,230.087,408.836,229.847,411.172z"/>
								<path d="M292.216,252.174c1.742,1.574,4.429,1.437,6.002-0.305c34.946-38.689,32.412-87.831,32.158-91.63
								c-0.081-48.177-39.301-87.346-87.496-87.346c-48.246,0-87.497,39.251-87.497,87.496v57.974c0,2.008,1.406,3.743,3.371,4.158
								c0.244,0.052,24.604,5.408,37.286,25.897c5.81,9.387,8.279,20.542,7.424,33.286h-31.511c-2.347,0-4.25,1.903-4.25,4.25
								c0,2.347,1.903,4.25,4.25,4.25h30.487c-0.462,2.696-1.044,5.448-1.776,8.268c-10.577,40.755-43.665,45.036-56.526,45.111
								c1.532-5.521,3.774-14.701,4.912-24.606c2.551-22.206-1.694-36.542-12.616-42.61c-2.053-1.141-4.639-0.4-5.779,1.651
								c-1.14,2.052-0.4,4.639,1.651,5.779c15.8,8.778,6.924,48.057,2.171,62.451c-0.4,1.211-0.235,2.539,0.45,3.615
								c0.684,1.076,1.816,1.789,3.082,1.94c0.21,0.025,2.19,0.249,5.384,0.249c5.485,0,14.551-0.662,24.386-4.135
								c14.481-5.113,33.369-17.471,41.112-47.31c5.772-22.244,3.88-41.308-5.624-56.662c-11.716-18.929-31.487-26.487-39.384-28.849
								v-11.887h56.067c2.347,0,4.25-1.903,4.25-4.25c0-2.347-1.903-4.25-4.25-4.25h-56.067v-1.391
								c18.039-45.36,48.611-70.545,90.881-74.848c29.944-3.048,55.63,5.943,59.058,7.209c5.151,10.484,8.055,22.263,8.055,34.71
								c0,0.103,0.004,0.209,0.011,0.311c0.035,0.484,3.121,48.827-29.977,85.471C290.337,247.913,290.473,250.601,292.216,252.174z
								M219.857,118.728c-23.528,10.207-42.294,28.428-55.975,54.273V160.39c0-43.559,35.438-78.996,78.997-78.996
								c26.534,0,50.036,13.163,64.368,33.287C290.295,110.033,254.641,103.638,219.857,118.728z"/>
							</svg>
						</span>

						<h6 class="mt-2 font-bold">We Listen</h6>

						<p class="hidden sm:mt-1 sm:text-sm text-gray-300 sm:block">We can only deliver results if we know what your success looks like. We listen, find out what you want to achieve and plan how we get you there. Things work better when we do it together.</p>
					</div>

					<div class="block p-4 border border-gray-100 shadow-sm rounded-xl focus:outline-none focus:ring hover:border-gray-200 hover:ring-1 hover:ring-gray-200">
						<span class="inline-block p-3 rounded-lg bg-yellow-200">
							<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="black" stroke-width="2">
								<path stroke-linecap="round" stroke-linejoin="round" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
							</svg>
						</span>

						<h6 class="mt-2 font-bold">We Like to Talk</h6>

						<p class="hidden sm:mt-1 sm:text-sm text-gray-300 sm:block">We'll keep you updated with the progress of the site. We're a small team, so you'll soon get to know everyone working on your project, but we think big. We'll earn your trust and make the process stress-free.</p>
					</div>

					<div class="block p-4 border border-gray-100 shadow-sm rounded-xl focus:outline-none focus:ring hover:border-gray-200 hover:ring-1 hover:ring-gray-200">
						<span class="inline-block p-3 rounded-lg bg-yellow-200">
							<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="black" stroke-width="2">
								<path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
							</svg>
						</span>

						<h6 class="mt-2 font-bold">We've Done It Before</h6>

						<p class="hidden sm:mt-1 sm:text-sm text-gray-300 sm:block">We've been working with the web since 1996 and have a few grey hairs to prove it! Our experience, along with our creative thinking, will help make sure your project is a success.</p>
					</div>

					<div class="block p-4 border border-gray-100 shadow-sm rounded-xl focus:outline-none focus:ring hover:border-gray-200 hover:ring-1 hover:ring-gray-200">
						<span class="inline-block p-3 rounded-lg bg-yellow-200">
							<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="black" stroke-width="2">
								<path stroke-linecap="round" stroke-linejoin="round" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
							</svg>
						</span>

						<h6 class="mt-2 font-bold">We Make it Easy</h6>

						<p class="hidden sm:mt-1 sm:text-sm text-gray-300 sm:block">We love a challenge. We enjoy complex web development projects and tricky third party software integrations and we'll talk to you about it in plain English. You'll find us honest, reliable and a safe pair of hands.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:gap-16 lg:grid-cols-2">
      <div
        class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:h-full lg:order-first"
      >
        <img
          class="absolute inset-0 object-cover w-full h-full"
          src="https://www.hyperui.dev/photos/man-1.jpeg"
          alt="Man using a computer"
        />
      </div>

      <div class="lg:py-24">
        <h2 class="text-3xl font-bold sm:text-4xl">Custom Web Design in Nairobi Kenya</h2>

        <p class="mt-4 text-gray-600">
         Our web design services are customized for each client we serve. We will talk to you to find out what you want and need out of your website. Then, we will customize it to your liking. This can include customer photos and videos to help you stand out from the crowd. We can also provide advanced features, such as event registration pages and forums. You can even have password-protected content if you have a subscription service. Because our sites are customized by our experienced web developers, we can do it all. Just let us know what you have in mind, and we will make it happen.
        </p>

        <a
          class="inline-flex items-center px-8 py-3 mt-8 text-black bg-yellow-200 rounded focus:outline-none focus:ring"
          href="https://api.whatsapp.com/send?phone=254722593572&text=Hello!%20Wade%20-%20Best%20web%20design%20company%20in%20Nairobi%20Kenya?%20I'd%20like%20to%20get%20a%20free%20quotation%20on%20a%20new%20website%20project.%20Please%20get%20back%20for%20more%20info."
        >
          <span class="text-sm font-medium">Get Quote</span>

          <svg
            class="w-5 h-5 ml-3"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:gap-16 lg:grid-cols-2">
      <div
        class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:h-full lg:order-last"
      >
        <img
          class="absolute inset-0 object-cover w-full h-full"
          src="https://www.hyperui.dev/photos/man-1.jpeg"
          alt="Man using a computer"
        />
      </div>

      <div class="lg:py-24">
        <h2 class="text-3xl font-bold sm:text-4xl">Web Development in Nairobi Kenya</h2>

        <p class="mt-4 text-gray-600">
         Your website is essentially virtual real estate. Once your site is set up, people can visit it to buy your products, learn about your services, and more. Just like a brick-and-mortar storefront, people will judge you based on your website. If it isn’t professional and easy to use, they will back out of the site and choose your competitor instead. Wade a Web Design company in Nairobi Kenya creates professional websites that will help you attract and retain visitors. You want to put your best foot forward online, and it starts by letting us develop and design your website.
        </p>

        <a
          class="inline-flex items-center px-8 py-3 mt-8 text-black bg-yellow-200 rounded focus:outline-none focus:ring"
          href="https://api.whatsapp.com/send?phone=254722593572&text=Hello!%20Wade%20-%20Best%20web%20design%20company%20in%20Nairobi%20Kenya?%20I'd%20like%20to%20get%20a%20free%20quotation%20on%20a%20new%20website%20project.%20Please%20get%20back%20for%20more%20info."
        >
          <span class="text-sm font-medium">Get Quote</span>

          <svg
            class="w-5 h-5 ml-3"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

	<section>
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8 sm:py-24">
    <div class="max-w-xl mx-auto text-center">
      <h2 class="text-4xl font-bold tracking-tight sm:text-5xl">
        HAPPY CLIENT’S
      </h2>

      <p class="max-w-lg mx-auto mt-4 text-gring-offset-warm-gray-500">
        Our Client's Experience
      </p>
    </div>

    <div
      class="grid grid-cols-1 gap-8 mt-16 sm:grid-cols-2 lg:grid-cols-3 sm:gap-16"
    >
      <div>
        <img
          src="https://www.hyperui.dev/photos/man-4.jpeg"
          alt=""
          class="object-cover w-24 h-24 mx-auto rounded-full shadow-xl"
        />

        <blockquote
          class="flex flex-col justify-between p-12 -mt-6 text-center rounded-lg shadow-xl"
        >
          <p class="text-lg font-bold text-gray-700">Katie Lulu</p>
          <p class="mt-1 text-xs font-medium text-gray-500">
            Web Design
          </p>
          <p class="mt-4 text-sm text-gray-500">
            After wade did a Web Design service I questioned why I didn't call them soon. Highly recommend to anyone looking to re-vitalize their webpage!
          </p>

          <div class="flex space-x-0.5 justify-center mt-8 text-yellow-300">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
          </div>
        </blockquote>
      </div>

      <div>
        <img
          src="https://www.hyperui.dev/photos/man-4.jpeg"
          alt=""
          class="object-cover w-24 h-24 mx-auto rounded-full shadow-xl"
        />

        <blockquote
          class="flex flex-col justify-between p-12 -mt-6 text-center rounded-lg shadow-xl"
        >
          <p class="text-lg font-bold text-gray-700">Omondi Jackson</p>
          <p class="mt-1 text-xs font-medium text-gray-500">
            Search Engine Optimization
          </p>
          <p class="mt-4 text-sm text-gray-500">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            voluptatem alias ut provident sapiente repellendus.
          </p>

          <div class="flex space-x-0.5 justify-center mt-8 text-yellow-300">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
          </div>
        </blockquote>
      </div>

      <div>
        <img
          src="https://www.hyperui.dev/photos/man-4.jpeg"
          alt=""
          class="object-cover w-24 h-24 mx-auto rounded-full shadow-xl"
        />

        <blockquote
          class="flex flex-col justify-between p-12 -mt-6 text-center rounded-lg shadow-xl"
        >
          <p class="text-lg font-bold text-gray-700">Wangui</p>
          <p class="mt-1 text-xs font-medium text-gray-500">
            Digital Marketing at Studio
          </p>
          <p class="mt-4 text-sm text-gray-500">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            voluptatem alias ut provident sapiente repellendus.
          </p>

          <div class="flex space-x-0.5 justify-center mt-8 text-yellow-300">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</section>
</BaseLayout>